@import url('https://fonts.googleapis.com/css?family=Abel');


* {
  box-sizing: border-box;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

#content-wrap{
  padding-bottom: 2.5rem;
}

.borrarTarjeta{
  color: black;
  background-color: #d90429;
}


/* CSS header empieza acá */
header{
  background:#89c5d4;
  position:fixed; /* para que se vea siempre */
  width: 100%; /*para que ocupe todo el largo */
  z-index: 999; /*para que este por encima de cualquier cosa */
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

.header-container div img{
  width: 50%;
}
/* CSS header termina acá */


/* CSS Body empieza acá*/

html, body {
  background: #e1e7f0;
  font-family: Abel, Arial, Verdana, sans-serif;
  padding-bottom: 40vh;
  
}

/* FORMULARIO */

.contenedor-buscador{
  display:flex;
  position: absolute;
  top:18%;
  left:23%;
  
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  
  cursor: pointer;
  
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* TERMINA FORMULARIO */

.contenedor-buscador-div{
  top:20%;
}


.center {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;   
  top: 50%;
  justify-content:center;
    /* -webkit-transform: translate(-50%, -50%); */
}

.card {
  
  width: 35vw;
  height: 40vh;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  position:relative;
  margin: 1.5rem; 
  
}

.card h1 {
  
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}

/* 
.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
} */

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  
  
}

.card .general h3{
  font-size: 60%;
}

.card .general img{
  position: relative;
  right: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}



#foto-perfil{
    position: relative;
    width: 90%;
    border-radius: 30%;
    margin: 5%;
    top:65px ;
}

/* CSS body termina acá */


/* CSS footer empieza acá*/
.footer-container{
  background-color: #212329;
  padding-bottom: 4rem;

}

.footer{
  width:80%;
  height: 40vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  z-index: -999;
}

.footer-heading {
  display:flex;
  flex-direction: column;
  margin-right: 4rem;

}

.footer-heading h2{
  margin-bottom: 2rem;

}

.footer-heading a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem,

}
/* 
.footer-heading a:hover{
  color: red;
  transition: 0.3s ease-out;
} */










/* CSS footer termina acá */


/* media queries */
/* tablet */
/* mobile */





